<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename ='image/icon.png') }}" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='css/style.css') }}">
  <title> {% block title %}{% endblock %} </title>
</head>

<body class="dark_mode_bg">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-lg">
        <a class="navbar-brand" href="/">Find job for waifu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/work_search">Поиск работы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/employees_search">Поиск сотрудника</a>
            </li>
          </ul>
        </div>



        {% if not(user) %}
        <ul class="navbar-nav justify-content-end" id="enter-bar">
          <li class="nav-item">
            <a class="nav-link" href="/authorization">Вход</a>
          </li>
          <li class="nav-item justify-content-end">
            <a class="nav-link" href="/registration">Регистрация</a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav justify-content-end" id="profile-bar">
          <li class="nav-item">
            <a class="nav-link" href="/profile">Профиль</a>
          </li>
          <li class="nav-item justify-content-end">
            <a class="nav-link" href="/goodbye">Выход</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
  </header>

  <section>
    <div class="container-xl bg-flex w-100 main_content" id="main_container">
        {% block body %} {% endblock %}
    </div>
  </section>
  
</body>
</html>