{% extends 'base.html' %}
{% block title %}Поиск работы{% endblock %}

{% block body %}
<div class="container">
	<div class="search_add_vacancy_cv row justify-content-between">
		<form class="form-inline my-2 my-lg-0 " method="GET">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
			name="search" value="{{ request.args.get("search", "") }}">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<a type="button" class="btn btn-warning" href="/create_vacancy">
			Создать вакансию
		</a>
	</div>
	<div class="sorting row mb-2 align-items-center">
		Сортировать по:
		<a class="sortFilter none_decor_link" href="/work_search">По умолчанию</a>
		<a class="sortFilter none_decor_link" href="?sortFilter=byname">По названию</a>
		<a class="sortFilter none_decor_link" href="?sortFilter=bypriceasc">Дешевле</a>
		<a class="sortFilter none_decor_link" href="?sortFilter=bypricedesc">Дороже</a>
		<a class="sortFilter none_decor_link" href="?sortFilter=bydate">По дате</a>
	</div>

	{% for v in vacancies %}
	<div class="row">
		<div class="vacancy-item col">
			<div class="justify-content-between form-inline">
				<a class="none_decor_link name_vacancy link" href="#">
					{{ v.title }}
				</a>
				<div class="price_vacancy">
					{{ v.price }} руб.
				</div>
			</div>
			<div class="description_vacancy text-break">
				Описание: {{ v.description }}
			</div>
			<div class="town_vacancy text-secondary">
				город {{ v.location }}
			</div>
			<div class="button_date_vacancy justify-content-between form-inline">

				<div class="dropup">
					<button type="button" class="btn btn-warning " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Показать контакты
					</button>
					<div class="dropdown-menu">
						<div class="vacancy_drop_name">
							Людочка
						</div>
						<div class="vacancy_drop_phone">
							8-800-555-35-35
						</div>
						<div class="vacancy_drop_mail">
							pajasdps@mail.sru
						</div>
					</div>
				</div>

				<div class="date_vacancy text-secondary">
					{{ v.date }}
				</div>
			</div>
		</div>
		<div class="w-100"></div>
	</div>
	{% endfor %}
</div>
{% endblock %}